<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="slack" type="SlackBot.Configuration.SlackConfigurationSection, SlackBotService"/>
    <section name="slackTfs" type="SlackBot.Tfs.Configuration.TfsConfigurationSection, SlackBot.Tfs"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  <slack>
    <client token="" />
    <sinks>
      <add name="tfs" type="SlackBot.Tfs.TfsChatMessageSink, SlackBot.Tfs" />
    </sinks>
  </slack>

  <slackTfs>
    <sinks>
      <add name="tfs" projectCollection="" project="" accessToken=""/>
    </sinks>
  </slackTfs>
</configuration>